@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap");

$main-cream-color: #f6f3ee;
$main-camel-color: #af9273;
$main-brown-color: #5a422d;

$main-bg-color: #faf5f4;

$main-brand-font: "Cormorant", serif;
$main-heading-font: "Roboto Condensed", sans-serif;
$main-text-font: "Montserrat", sans-serif;
